// Alter properties when the Page SideBar (search panel) is open.
.pageWithRightSidebar {
  margin-right: unset !important;
  max-width: 96.09% !important;
  .euiPageBody {
    height: 100%;
  }
}

// The page cannot have padding for the sidebar to be positioned appropriately.
// Applying padding on the Page Body instead adds extra margin around the header
// which must be hidden for consistency with other views.
.euiPage {
  .euiPageBody--paddingMedium {
    .euiPageHeader {
      margin-bottom: unset !important;
      border-bottom: unset !important;
    }
  }
}
